@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



body {
  margin: 0;
  background-color: #faf4ea;
  font-family: 'Indie Flower', cursive;
}

.main {
  padding: 0 20px;
}
